@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.game-detail-container {
    width: 43vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    font-family: 'HSSaemaul-Regular';
    
    height: auto;
    display: flex;
    flex-direction: column;
}
.game-detail-container h2 {
    color: black;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
}
.game-detail-container p {
    color: black;
    font-size:23px;
}
.game-detail-container .result-text {
    font-weight: bold;
    font-size: 23px;
    margin-top: 25px;
}
.result-text, .card-num {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
.game-detail-container .game-result {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
}
.button, .button-counter_attack, .button-cancel {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    text-decoration: none;
    color: black;
    border-radius: 13px;
    font-size: 18px;
    background-color: #FF7F00;
}
.button:hover{
    background-color: #e69500;
    text-decoration: none;
    color:black;
}
.button-counter_attack:hover{
    background-color: #aeb10a;
    text-decoration: none;
    color:black;
}
.button-cancel:hover {
    background-color: rgb(77, 73, 73);
    text-decoration: none;
    color:black;
}
.login-container, .logout-container, .passreset-container, .signup-container {
    width: 43vh;
    height: 60vh;
    margin: 50px auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    font-family: 'HSSaemaul-Regular';
    text-align: left;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

}

input {
    width: 100%;
}

.social-login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-login > a {
    color: black;
    margin: 0 !important ; 
    padding: 0;

}