{% extends 'base.html' %}

{% block title %} Select Card {% endblock %}

{% block content %}
<div class="attack-body">
    <h1 style="margin-top: 0; margin-bottom: 20px;" class="attack-h1">Select a Card</h1>
    <form method="post" class="attack-form" style="margin: 0;">
        {% csrf_token %}
        {% for card in cards %}
        <label class="attack-label">
            <input type="radio" name="selected_card" value="{{ card }}">
            {{ card }}
        </label>
        {% endfor %}
        <br>
        <label for="defender">Defender:</label>
        <select name="defender" id="defender" class="attack-select" required>
            <option value="" disabled selected>-------</option>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="attack-button">Attack</button>
    </form>
</div>
{% endblock %}