{% extends 'base.html' %}

{%block title%} CounterAttack {%endblock%}

{% block content %}

<h2>반격하기</h2>
<p>상대: {{ game.attacker.username }}</p>
<form action="{% url 'game:counter_attack' game.id %}" method="post">
    {% csrf_token %}
    <label for="card">카드 선택:</label>
    <select name="card" id="card">
        {% for number in random_numbers %}
            <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
    </select>
    <button type="submit">반격</button>
</form>

{% endblock %}