{% extends 'base.html' %}

{%block title%} Ranking {%endblock%}

{% block content %}
<h1>PIRO 명예의 전당</h1>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for user in top_users %}
            <tr>
                <td>{{ forloop.counter }}</td>  <!-- 랭킹 순위 -->
                <td>{{ user.username }}</td>     <!-- 유저명 -->
                <td>{{ user.score }}</td>        <!-- 점수 -->
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}